@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;   
}

#top-nav{
    /* background-color: burlywood; */
    padding: 1rem;
    /* margin: rem; */
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.nav{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.1rem;
}

/* #text{
    font-size: 1rem !important;
    font-weight: bold;
} */
.container{
    display: flex;
    flex-direction: row;
    height: 25rem;
}

.item{
    /* background-color: blanchedalmond; */
    margin: 0.8rem;
    padding: 1rem;
    
}

.item-1{
    display: flex;
    flex-direction: column;
    flex-basis: 5%;
    align-items:baseline;
    justify-content:space-evenly;
}

.item-2{
    display: flex;
    flex-direction: column;
    flex-basis: 95%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    flex-wrap: wrap;
}

.center-img{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.item-3{
    flex-basis: 9%;
}

button{
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border: 0.15rem solid;
    font-size: 1rem;
    background-color: transparent;
    font-weight: 700;
}

.nav:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.footer{
    display: flex;
    flex-direction:row;
    /* height: 8.5rem; */
    font-size: small;
    text-align: justify;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.items{
    /* background-color: blanchedalmond; */
    margin: 0.8rem;
    padding: 1rem;
    
}

.left{
    /* display: flex; */
    /* flex-direction: column; */
    flex-basis: 25%;
}

.right{
    /* display: flex; */
    /* flex-direction: column; */
    flex-basis: 25%;
}

hr{
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction:column;
        flex-wrap: wrap;
        align-items: baseline;
        height: max-content;
    }

    .item{
        flex-shrink: 0;
    }

    .item-1{
        display: flex;
        flex-direction: row;
        /* flex: 0;
        flex-shrink: 0; */
        flex-wrap: wrap;
        align-items:baseline;
        justify-content: baseline;
    }

    .colors{
        flex: 0 0;
        justify-content:space-evenly;
        margin: 0.7rem;
    }

    .item-2{
        justify-content:space-evenly;
        align-items:center;
    }

    .children{
        margin: 1rem;

    }

    .right, .left{
        flex-basis: 60%;
    }

    .item-3{
        position: absolute;
        display: none;
    }

     
    .center-img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    }

    .footer{
        font-size: 0.5rem;
    }

    .nav:hover{
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }

    #text{
        font-size: 1.1rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 400px) {
    .center-img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}